html, body{
	margin:0;
	Padding: 0;
	line-height: 200%;
	height: 100vh;
	font-family: Roboto,sans-serif;
	font-size:17px;
	padding-top:100px;
}
.gold{
	color: #AEA373;
}
.darkBlue{
	background-color:#213945;
}
.topBar{
color:#a6b1b7;
background-color:#213945;
/* height: 5vh; */
}
nav{
	background: #fff;
}
.custom-toggler.navbar-toggler {
    border-color: rgb(174, 163, 115);
}
.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(174,163,115, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
/* nav{
	margin-top: 60px;
} */
.mainNav h1{
	color: #AEA373;
	font-weight: 600;
}
.mainNav li a{
	color:black !important;
}
.mainNav li a:hover{
	color:#AEA373 !important;
}

.nav-item{
    text-align: right;
}
#carousel img{
	opacity: 0.5;
	filter: alpha(opacity=50); 
	max-height: 700px; 
} 
#carousel a:hover{
	opacity: 0.8;
}
.goldBackground{
	background-color:#AEA373;
}

#page-banner{
	/* position: relative; */
	/* text-align: center; */
	color: white;
	background: black;
}

#page-banner img{
	opacity: 0.3;
	filter: alpha(opacity=25); 
	min-height: 150px;
}
#page-banner a:hover{
	opacity: 0.8;
}
.carousel-caption1 {
    position: absolute;
    right: 15%;
    bottom: 1px;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 15px;
    color: #fff;
    text-align: center;
}

iframe{
	height: 450px;
}

footer{
	line-height: 150%;
}